<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardVagas</title>
</head>

<body>
    <section>
        <div class="vagas">
            <h2>Função</h2>
            <p>Nome da empresa</p>
            <p>Salário</p>
            <p>Sobre</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus qui nesciunt voluptatem mollitia
                quia minima ducimus fugiat inventore porro. Dolor eveniet ducimus quidem doloremque maxime sint
                voluptatibus omnis itaque!</p>
            <div>
                <p>Localização:</p>
                <button>Aplicar</button>
            </div>
            <span>Status da vaga</span>
        </div>
        
        <div class="vagas">
            <h2>Função</h2>
            <p>Nome da empresa</p>
            <p>Salário</p>
            <p>Sobre</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus qui nesciunt voluptatem mollitia
                quia minima ducimus fugiat inventore porro. Dolor eveniet ducimus quidem doloremque maxime sint
                voluptatibus omnis itaque!</p>
            <div>
                <p>Localização:</p>
                <button>Aplicar</button>
            </div>
            <span>Status da vaga</span>
        </div>

        <div class="vagas">
            <h2>Função</h2>
            <p>Nome da empresa</p>
            <p>Salário</p>
            <p>Sobre</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus qui nesciunt voluptatem mollitia
                quia minima ducimus fugiat inventore porro. Dolor eveniet ducimus quidem doloremque maxime sint
                voluptatibus omnis itaque!</p>
            <div>
                <p>Localização:</p>
                <button>Aplicar</button>
            </div>
            <span>Status da vaga</span>
        </div>

        <div class="vagas">
            <h2>Função</h2>
            <p>Nome da empresa</p>
            <p>Salário</p>
            <p>Sobre</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus qui nesciunt voluptatem mollitia
                quia minima ducimus fugiat inventore porro. Dolor eveniet ducimus quidem doloremque maxime sint
                voluptatibus omnis itaque!</p>
            <div>
                <p>Localização:</p>
                <button>Aplicar</button>
            </div>
            <span>Status da vaga</span>
        </div>
        
    </section>
</body>

</html>