* {
    outline: none !important;

}

.container_postagem {
    background-color:#faf0ff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    padding: 20px 40px;
  }

  .card-body {
    padding: 20px;
  }

  .user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }

  h3 {
    color: #B378FF;
  }

  button {
    background-color: #B378FF !important;

}



  .btn-primary {
    margin-top: 10px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    
  }


  .modal-content {
    border-radius: 10px 10px 0px 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .modal-header {
    display: flex;
    border: none;
    border-radius: 10px 10px 0px 0px;
    background-color: #B378FF;
    height: 80px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
    .modal-title {
        width: 100%;
        text-align: center;
    }



.botao_criarpostagem {
    padding: 10px 15px;
    border-radius: 10px;
    color:white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.form-group label {
    color: #B378FF;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-control {
    border: 2px solid #B378FF;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
  }


