
.input-pesquisa,
.modaltarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  border:1px solid #B378FF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group-text {
  font-weight: bold;
  color: #B378FF;
}

.form-control {
  border: 1px solid #B378FF;
  border-radius: 5px;
  padding: 20px;
  width: 45%; 
  box-sizing: border-box;
}

.buscar-vagas,
.botao_criarpostagem {
  background-color: transparent;
  color: #fff;
  height: max-content;  
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buscar-vagas i {
    font-size: 30px;
    color: #B378FF;
}

.buscar-vagas i:hover  {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

