<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Ambiente de Aprendizagem</title>
  </head>
  <body>
    <div class="container">
      <div class="coluna">
        <h2>Seu Ambiente de Aprendizagem</h2>

        <div class="card-curso">
          <h3>Título do Curso 1</h3>
          <p>Matéria: Nome da Matéria</p>
          <p>Duração: X horas</p>
          <button>Learn</button>
        </div>
      </div>

      <div class="coluna">
        <h2>Lista de Cursos</h2>
        <ul>
          <li>
            <strong>Curso:</strong> Nome do Curso 1
            <br />
            <strong>Porcentagem:</strong> 80%
          </li>
        </ul>

        <img
          src="caminho/para/sua/imagem.jpg"
          alt="Imagem Representativa"
          class="img-fluid"
        />
      </div>
    </div>
  </body>
</html>
