<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Curso</title>
</head>
<body>
    <h2>Editar Curso</h2>
    <form action="/cursos/atualizar" method="post">
     
        <input type="hidden" id="id" name="id" th:value="${curso.id}" />

        <label for="materia">Matéria:</label>
        <input type="text" id="materia" name="materia" th:value="${curso.materia}" required><br>

        <label for="duracao">Duração:</label>
        <input type="text" id="duracao" name="duracao" th:value="${curso.duracao}" required><br>

        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" th:value="${curso.descricao}" required><br>

        <button type="submit">Atualizar</button>
    </form>
</body>
</html>
