<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/header.css" /> -->
    <link rel="stylesheet" href="styles.css" />

    <!-- <link rel="stylesheet" href="/css/chat/index.css" /> -->
    <title>Mensagens</title>
  </head>

  <body>
    <div class="container-mensagens">
      <div class="chat">
        <div class="mensagem-recebida" th:each="mensagem : ${chat}">
          <span th:text="${mensagem.nome}"></span>
          <span th:text="${mensagem.mensagem}"></span>
        </div>
      </div>

      <div class="enviar">
        <form action="" method="post" th:action="@{/enviar}">
          <div class="container-separador">
            <label for="">Nome:</label>
            <input type="text" name="nome" id="nome" />
          </div>

          <div class="container-separador">
            <label for="">Mensagem: </label>
            <input
              type="text"
              placeholder="Escreva"
              name="mensagem"
              id="mensagem"
              class="escrever-mensagem"
            />
          </div>

          <div>
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>

    <script src="/js/chat.js" type="module"></script>
  </body>
</html>
