.cardCriarPostagem {
    width: 100%;
    background-color: var(--branco);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    gap: 15px;
  }


  .user-photo {
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }

  .card-body h3 {
    color: var(--rosa-primario);
    font-size: 1.4rem;
  }

  button {
    background-color: var(--rosa-primario) !important;
    cursor:pointer;
    border: 1px solid var(--branco) !important;
}

button:hover {
  background: linear-gradient(to bottom, #B378FF 75%, #ffffff00 25%) !important;
  border: 1px solid var(--branco) !important;
  outline: 1px solid var(--branco);
  text-shadow: 1px 1px 2px var(--rosa-secundario);

}

  .btn-primary {
    background: linear-gradient(to bottom, #B378FF 75%, #ffffff00 25%) !important;
    border: 1px solid var(--rosa-primario) !important;
    color: var(--branco);
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
  }

 
  .btn-primary:hover {
    background: var(--rosa-primario) !important;
    border: 1px solid var(--rosa-primario);
    outline: 1px solid var(--rosa-primario);

}

.caixa-criarpostagem {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  min-height: 150px;
}