
.container-aprendizado .icone-aprendizado {
    font-size: 80px;
}

.titulo_aprendizado {
  overflow-y: hidden;
    text-transform: uppercase;
    color: #B378FF;

}


.icone-aprendizado {
    font-size: 2rem;
    margin-right: 10px;
    color: #B378FF;
  }


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }

  .elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: max-content;
    width: max-content;
    text-align: center;
    animation: pulse 2s infinite; 
}

.elemento i {
    font-size:42px;
    color:  #B378FF;
}

.elemento .caracteristica {
    overflow-y: hidden;
    color:  #B378FF;
    font-weight: 600;
}
