
  
  .container-principal {
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container-aprendizado {
    text-align: center;
  }
  
  .icone-aprendizado {
    font-size: 40px;
    color: #B378FF;
  }
  
 .titulo_curso {
   overflow-y: hidden;
  }


  
  .lista-aulas {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap:30px;
  }
  
  .aula {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
  
  .titulo {
    display: flex;
    align-items: center;
    gap:20px;
    justify-content: space-between;
    font-size: 18px;
    color: #333;
  }
  
  .btn-assistir {
    background-color: #B378FF;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid transparent ;
    outline: 1px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-assistir:hover {
    background: var(--fundo-dividido);
    color:#ffffff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #B378FF ;
  }
  
.modal-content {
    border-radius: 8px;
  }
  
  .modal-header {
    background: linear-gradient(45deg, #B378FF, #b57dff);
    color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 15px;
  }
  
  .modal-title {
    font-size: 24px;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-body video {
    width: 100%;
    border-radius: 8px;
  }

