.container-principal {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 20px; /* Margem ajustada para telas menores */
}

.container-cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.container-aprendizado {
  border-radius: 20px;
  background-color: white;
  gap: 20px;
  padding: 10px;
}

.card-curso {
  background-color: #ffffff;
  color: #B378FF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 25px 10px !important;
  width: 300px;
  height: 300px;
}

.card-curso h3 {
  overflow: hidden;
  white-space: normal;
  color: #B378FF;
  display: inline-block;
  overflow-wrap: break-word;
}

.card-curso p {
  color: #202020;
}

.card-curso button {
  background-color: #B378FF;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-curso button:hover {
  background: var(--fundo-dividido);
  color: #ffffff;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #B378FF;
}

.card-curso a {
  text-decoration: none;
  color: #fff;
}

.elementos-adicionais {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  overflow-y: hidden;
}

/* Adicionando responsividade */

@media only screen and (max-width: 896px) {
  .container-cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card-curso {
    width: 100%;
    height: 200px;
  }

  .icone-aprendizado {
    font-size: 1.6rem;
  }

  .elemento p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .container-principal {
    margin: 20px 15px;
  }
  
}
