

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px !important;
    background-color: #ffffff;
    align-items: center;
}

.header .nav ul{
    margin-bottom: 0 !important;
    display: flex !important;
    justify-content: space-around !important;
    align-content: baseline !important;
    align-items: baseline !important;
    gap:5px !important;
}



.header .nav div {
    align-items: center;
    display: flex;
    flex-direction: column;
}





.caixa-item-navbar {
    width: 70px !important;
    padding-top: 5px;
    border: 1px solid white !important;
    background-color: #fff;

}

.icone_nav , .caixa-item-navbar a{
    color:#B378FF;
    text-decoration: none;
    padding: 0 !important;

}
.icone_nav {
    font-size: 20px !important;

}

.nav ul li:hover {
    border-radius: 10px;
    border: 1px solid #B378FF !important;
    box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.1);
}


.search_bar {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
    gap: 5px !important;
}

.pesquisar_header {
    border-radius: 10px  !important;
    border: 2px solid #B378FF !important;
    padding: 12px 20px !important;
}

.search_bar i {
    font-size: 26px !important;
    color: #B378FF;

}

.botao-perfil {
    border: none !important;
    background-color: #fff !important;
    cursor: pointer;
}

.botao-perfil:hover {
    cursor: pointer;
    border: none;
    border-radius: 50%;

    background-color: #fff !important;
}

.logo_jobdelas {
    height: 50px !important;
}

.img_perfil {
    background-color: #fff;
    border: none !important; 
    border-radius: 50%;
    height: 50px !important;
}

@media only screen and (max-width: 896px) {
    .header img {
        display: none;
    }
}