button:focus,
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none !important;
}

/* Estilos para containers principais */
.container_principal {
    display: flex;
    align-items: start;
    gap: 50px;
    justify-content: space-between;
}

/* Estilos para containers de postagem */
.container_postagem {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 75%;
}

/* Estilos para botões */
.botao_criarpostagem {
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #B378FF;
}

/* Estilos para formulários */


/* Estilos gerais para a área de postagens */
.feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilos para a lateral home */
.lateral_home {
    width: 20%;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

@media only screen and (max-width: 896px) {
    .lateral_home {
        display: none;
    }
}


/* Conteudo centralizado quando tela for menor. */
@media only screen and (max-width: 650px) {
    .container_principal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lateral_home {
        display: none; 
    }

    .container_postagem {
        width: 100%; 
    }
}