.lateral_home {
  width: 100%;
  background-color:var(--branco);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

.lista_tarefas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista_tarefas h3 {
  color: var(--rosa-primario);
  text-align: center;
  font-weight: 600;
  margin-top: 10px;
  overflow-y: hidden;
}

.tarefa {
  background-color: var(--branco);
  border: 1px solid var(--branco);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.titulo-tarefa {
  font-weight: bold;
  text-align: center;
  color: var(--rosa-primario);
}

#btnAdicionarTarefa {
  background-color: var(--rosa-primario);
  color: var(--branco);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%; 
  box-sizing: border-box;
}

.botoes-tarefa {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.concluir-tarefa,
.atualizar-tarefa {
  background-color: var(--rosa-primario);
  color: var(--branco);
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.concluir-tarefa:hover,
.atualizar-tarefa:hover {
  background-color: var(--rosa-secundario);
  border: 1px solid var(--rosa-primario) !important;
}

#btnAdicionarTarefa:hover{
  border: 1px solid var(--rosa-primario) !important;
}