.profile_header {
    background-color: var(--branco);
    padding: 30px 0 ;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.profile_foto {
    display: contents;
    align-items: center;
    flex-direction: column;
}
.profile_foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
    margin-bottom: 10px;
}
  
.profile_foto h1 {
    overflow-y: hidden;
    color: var(--cinza-escuro);
    margin: 10px 0;
}
  
.profile_foto p {
    color: var(--cinza-claro);
}
  
  .profile_redesociais {
    display: flex;
    gap:20px;
  }
  
.profile_redesociais i {
    font-size: 30px;
    color: var(--rosa-primario);
  }
  
