
.profile_body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:20px;
    padding: 30px 40px ;
    background-color: #fff;
}

.profile_sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botao_profile {
    width: 130px;
    padding: 5px 9px !important;
    border: 1px solid #B378FF ;
    color:#B378FF;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;

}

.botao_profile:hover {
    background: var(--fundo-dividido);
    color:#ffffff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #B378FF ;

}


.container_titulo_profile{
    display: flex;
    justify-content: space-between;
}

.titulo_profile {
    overflow-y: hidden !important;
}
