@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
 
* {
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
    margin: 0 ;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

:root{
    --rosa-primario: #B378FF;
    --rosa-secundario: #9254DE;
    --branco: #ffffff;
    --cinza-claro: #706273;
    --cinza-escuro: #333;
    --fundo-dividido: linear-gradient(to bottom, #B378FF 75%, #ffffff 25%);
}


body {
    background-color: var(--rosa-primario);
}

main {
    padding: 40px 30px;
}


