
.input-pesquisa {
    margin:60px 40px;

}

.input-pesquisa,
.modaltarefa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: var(--branco);
  padding: 30px;
  border-radius: 15px;
  border:1px solid var(--rosa-primario);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group-text {
  color: var(--rosa-primario);
  background-color: transparent;
  border: none;
}



.form-control {
  border: 1px solid var(--rosa-primario);
  border-radius: 5px;
  padding: 20px;
  width: 45%; 
  box-sizing: border-box;
  border:1px solid var(--rosa-primario) !important;

}

.form-control:hover, .form-control:focus {
    outline: none;
    border:1px solid var(--rosa-primario) !important;
    box-shadow: none;

}

.buscar-vagas,
.botao_criarpostagem {
  background-color: transparent !important;
  color: transparent !important;
  height: max-content;  
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
}

.buscar-vagas i {
    font-size: 30px;
    color: var(--rosa-primario) !important
    ;
}

.buscar-vagas i:hover  {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1) !important;
}


.form-control {
    height: 40px;
    border: none;
    border-radius: 10px;
}

.buscar-vagas {
    background-color: var(--rosa-primario);
    color: var(--branco);
    border: none;
}

.container-vagas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin:60px 40px;


}

.vagas {
    width: 550px;
    padding: 15px;
    border: 1px solid var(--rosa-primario);
    border-radius: 20px;
    background-color: var(--branco);
}

.funcao {
    margin-top: 0;
    overflow-y: hidden;
    
}


.container-info-localizacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre {
    padding: 5px;
    background-color: var(--rosa-primario);
    width: 63px;
    border-radius: 10px;
    color: var(--branco);
    text-transform: uppercase;
}

.aplicar {
    height: 27px;
    width: 80px;
    border-radius: 10px;
    border: none;
    background-color: var(--rosa-primario);
    color: var(--branco);
    cursor: pointer;
    text-transform: uppercase;
}

.aplicar:hover {
    background: linear-gradient(to bottom, #B378FF 75%, #ffffff00 25%);
    border: 1px solid var(--rosa-primario);
}

.status {
    color: var(--cinza-claro);
}

@media (max-width: 768px) {
    .input-pesquisa {
      flex-direction: column;
    }
  
    .input-group-text {
      display: block;
      margin-bottom: 5px;
    }
  
    #inputCargo,
    #inputLocalizacao {
      margin-bottom: 10px;
    }
  
    .buscar-vagas {
      width: 100%;
    }
  }