<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css"
      integrity="sha384-rI2DBIG3Fv2jRwe7z9tc3R8pWFM9gGQVoTo5hcc4M2jtEkhl1ykI78zY3hY5FGEW"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Lista de Aulas</title>
  </head>

  <body>
    <div class="container mt-3">
      <h2>Lista de Aulas</h2>
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Link</th>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="aula : ${aulas}">
            <td th:text="${aula.id}"></td>
            <td th:text="${aula.titulo}"></td>
            <td th:text="${aula.link}"></td>
            <td th:text="${aula.descricao}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
