<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jb Company</title>
    <link rel="stylesheet" href="/css/jbcompany-empresas.css" />
  </head>
  <body>
    <section class="cointaner-principal">
      <div class="menu">
        <nav>
          <a href="/jbcompany"><i class="fas fa-home"></i> Home </a>
          <a href="/jbcompany/cadastrar/curso"
            ><i class="fas fa-building"></i> Cadastrar Cursos</a
          >
          <a href="/jbcompany/cadastrar/aula"
            ><i class="fas fa-plus-circle"></i> Cadastrar Aulas</a
          >
          <a href="/jbcompany/listar/aula"
            ><i class="fas fa-search"></i> Buscar Aulas
          </a>
          <a href="/jbcompany/listar/curso"
            ><i class="fas fa-list"></i> Listar Cursos</a
          >
        </nav>
        <div class="logo">
          <img src="/img/jb_company.png" alt="Sua Logo" />
        </div>
      </div>
      <div class="container_aula">
        <form method="post">
          <h2>Cadastrar Aula</h2>

          <label for="curso">Curso:</label>
          <select id="curso" name="cursoId" required>
            <option
              th:each="curso : ${cursos}"
              th:value="${curso.id}"
              th:text="${curso.materia}"
            ></option></select
          ><br />

          <label for="titulo">Título:</label>
          <input type="text" id="titulo" name="titulo" required /><br />

          <label for="link">Link:</label>
          <input type="text" id="link" name="link" required /><br />

          <label for="descricao">Descrição:</label>
          <textarea id="descricao" name="descricao" required></textarea><br />

          <button type="submit">Adicionar</button>
        </form>
      </div>
    </section>

    <script
      src="https://kit.fontawesome.com/cda1aa7b4f.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
