<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Aula</title>
</head>
<body>
    <h2>Editar Aula</h2>
    <form action="/aulas/atualizar" method="post">
        <input type="hidden" id="id" name="id" th:value="${aula.id}" />

        <label for="cursoId">Curso:</label>
        <select id="cursoId" name="cursoId" required>
            <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.materia}"></option>
        </select><br>

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" th:value="${aula.titulo}" required><br>

        <label for="link">Link:</label>
        <input type="text" id="link" name="link" th:value="${aula.link}" required><br>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao"  th:value="${aula.descricao}" required></textarea><br>

        <button type="submit">Atualizar Aula</button>
    </form>
</body>
</html>
