<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/jobdelas_empresas.css" />
  </head>

  <body>
    <section class="cointaner-principal">
      <div class="menu">
        <nav>
          <a href="#"><i class="fas fa-building"></i> Cadastrar Empresa</a>
          <a href="#"><i class="fas fa-plus-circle"></i> Cadastrar Vagas</a>
          <a href="#"><i class="fas fa-search"></i> Buscar Vaga</a>
          <a href="#"><i class="fas fa-search"></i> Buscar Empresa</a>
          <a href="#"><i class="fas fa-users"></i> Visualizar Candidatos</a>
        </nav>
        <div class="logo">
          <img src="/img/jb_company.png" alt="Sua Logo" />
        </div>
      </div>

      <form
        method="POST"
        th:object="${empresas}"
        enctype="multipart/form-data"
        class="form_corpo"
      >
        <h2>Cadastrar Empresa</h2>
        <div class="empresa">
          <label for="empresa">Nome da Empresa:</label>
          <input
            type="text"
            id="nome"
            name="nome-empresa"
            th:field="*{nome}"
            required
          />

          <label for="email">Email:</label>
          <input
            type="text"
            id="email"
            name="email-empresa"
            th:field="*{email}"
            required
          />

          <label for="senha">Senha:</label>
          <input
            type="password"
            class="form-control"
            id="senha"
            name="senha"
            th:field="*{senha}"
            required
          />

          <label for="areaDeAtuacao">Área de Atuação:</label>
          <input
            type="text"
            class="form-control"
            id="area_de_atuacao"
            name="areaDeAtuacao"
            th:field="*{area_de_atuacao}"
            required
          />

          <label for="descricao">Descrição:</label>
          <textarea
            id="descricao"
            name="descricao"
            th:field="*{descricao}"
          ></textarea>

          <label for="cnpj">CNPJ:</label>
          <input
            type="text"
            id="cnpj"
            name="cnpj-empresa"
            th:field="*{cnpj}"
            required
          />

          <!-- <a class="esqueceu" href="empresaLogin.html">Tem conta? Login aqui</a> -->

          <button id="botao-formulario" class="btn" role="button" type="submit">
            Cadastrar
          </button>
        </div>
      </form>
    </section>
    <script
      src="https://kit.fontawesome.com/cda1aa7b4f.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
