<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar Empresa</title>
    <link rel="stylesheet" href="/css/jbcompany-empresas.css" />
  </head>

  <body>
    <section class="cointaner-principal">
      <div class="menu">
        <div class="logo">
          <img src="/img/jb_company.png" alt="Sua Logo" />
        </div>
      </div>
      <section class="cards-escolha-jbcompany">
        <h1>Escolha uma opção</h1>
        <div>
          <a href="jbcompany/cadastrar/empresas">
            <button>
              <i class="fas fa-building"></i>
              <p>Empresas</p>
            </button>
          </a>

          <a href="jbcompany/cadastrar/aula">
            <button>
              <i class="fas fa-book"></i>
              <p>Cursos</p>
            </button>
          </a>
        </div>
      </section>
    </section>
    <script
      src="https://kit.fontawesome.com/cda1aa7b4f.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
