<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Empresas</title>
    <link rel="stylesheet" href="/css/jobdelas_empresas.css" />
  </head>

  <body>
    <section class="container-principal">
      <div class="menu">
        <nav>
          <a href="#"><i class="fas fa-building"></i> Cadastrar Empresa</a>
          <a href="#"><i class="fas fa-plus-circle"></i> Cadastrar Vagas</a>
          <a href="#"><i class="fas fa-search"></i> Buscar Vaga</a>
          <a href="#"><i class="fas fa-search"></i> Buscar Empresa</a>
          <a href="#"><i class="fas fa-users"></i> Visualizar Candidatos</a>
        </nav>
        <div class="logo">
          <img src="/img/jb_company.png" alt="Sua Logo" />
        </div>
      </div>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Área de Atuação</th>
            <th>Descrição</th>
            <th>CNPJ</th>
            <th>Ações</th>
            <!-- Nova coluna para botões de ação -->
          </tr>
        </thead>
        <tbody>
          <!-- Iterando sobre as empresas para exibir na tabela -->
          <tr th:each="empresa : ${empresas}">
            <td th:text="${empresa.nome}"></td>
            <td th:text="${empresa.email}"></td>
            <td th:text="${empresa.area_de_atuacao}"></td>
            <td th:text="${empresa.descricao}"></td>
            <td th:text="${empresa.cnpj}"></td>
            <td>
              <form th:action="@{/jbcompany/deletar/empresa}" method="post">
                <input type="hidden" name="id" th:value="${empresa.id}" />
                <button type="submit">Deletar</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <script
      src="https://kit.fontawesome.com/cda1aa7b4f.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
